<p class="title-login">Sign up</p>

<div class="details-box">
    <div class="details-container">
        <div class="icon-box">
            <img src="images/man-user.svg" class="details-icon" />
        </div>
        <input type="text" class="signup-field-{{fields.username.errorStyle}}" placeholder="username" type="username" ng-model="fields.username.text" ng-change="usernameChange()" />
    </div>
</div>
<p class="signup-text username-field" ng-if="fields.username.errorMessage.length > 0">{{fields.username.errorMessage}}</p>

<div class="details-box">
    <div class="details-container">
        <div class="icon-box">
            <img src="images/email.svg" class="details-icon" />
        </div>
        <input type="text" class="signup-field-{{fields.email.errorStyle}}" placeholder="email" type="email" ng-model="fields.email.text" ng-change="emailChange()" />
    </div>
</div>
<p class="signup-text" ng-if="fields.email.errorMessage.length > 0">{{fields.email.errorMessage}}</p>

<div class="details-box">
    <div class="details-container">
        <div class="icon-box">
            <img src="images/lock.svg" class="details-icon" />
        </div>
        <input type="password" class="signup-field-{{fields.password.errorStyle}}" placeholder="password" ng-model="fields.password.text" ng-change="passwordChange()" />
    </div>
</div>

<div class="details-box">
    <div class="details-container">
        <div class="blank-space">

        </div>
        <input type="password" class="signup-field-{{fields.password.errorStyle}}" placeholder="re-password" ng-model="fields.rePassword.text" ng-change="passwordChange()" />
    </div>
</div>


<p class="signup-text" ng-if="fields.password.errorMessage.length > 0">{{fields.password.errorMessage}}</p>

<button class="button login" ng-click="signup()">sign up</button>

<p class="login-text or-with">or signup with</p>

<div class="disabled">
    <div class="social-media-logins">
        <button class="button login-google">google</button>
        <button class="button login-facebook">facebook</button>
    </div>
</div>

<p class="login-text or-with" ng-click="cancel()"><a class="cancel-signup">cancel</a></p>